USE [master]
GO
/****** Object:  Database [CatStone]    Script Date: 8/14/2018 12:13:55 PM ******/
CREATE DATABASE [CatStone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CatStone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\CatStone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CatStone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\CatStone.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CatStone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CatStone]
GO
USE [CatStone]
GO
/****** Object:  Table [dbo].[cat_skill]    Script Date: 8/14/2018 12:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_skill](
	[cat_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
 CONSTRAINT [PK_Cats_Skills_cat_id_skill_id] PRIMARY KEY CLUSTERED 
(
	[cat_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cats]    Script Date: 8/14/2018 12:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[color] [varchar](50) NULL,
	[hair_length] [varchar](50) NULL,
	[age] [int] NULL,
	[prior_exp] [varchar](250) NULL,
	[photo] [varchar](50) NULL,
	[is_featured] [bit] NOT NULL,
	[description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 8/14/2018 12:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[skill] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/14/2018 12:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](10) NULL,
	[password] [varchar](50) NULL,
	[is_admin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[cat_skill] ([cat_id], [skill_id]) VALUES (1, 1)
INSERT [dbo].[cat_skill] ([cat_id], [skill_id]) VALUES (1, 7)
INSERT [dbo].[cat_skill] ([cat_id], [skill_id]) VALUES (2, 6)
SET IDENTITY_INSERT [dbo].[Cats] ON 

INSERT [dbo].[Cats] ([Id], [name], [color], [hair_length], [age], [prior_exp], [photo], [is_featured], [description]) VALUES (1, N'Percy', N'orange $ white', N'Long', 12, N'Purficient at wakeup calls', N'Percy.jpg', 1, NULL)
INSERT [dbo].[Cats] ([Id], [name], [color], [hair_length], [age], [prior_exp], [photo], [is_featured], [description]) VALUES (2, N'Fern', N'tabby', N'long', 8, N'Will do anything for bread.', N'fern.jpg', 0, NULL)
INSERT [dbo].[Cats] ([Id], [name], [color], [hair_length], [age], [prior_exp], [photo], [is_featured], [description]) VALUES (3, N'Luna', N'Black & Orange', N'short', 3, N'Flexible for the right opportunity', N'luna.jpg', 0, NULL)
SET IDENTITY_INSERT [dbo].[Cats] OFF
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([id], [skill]) VALUES (1, N'Drooling')
INSERT [dbo].[Skills] ([id], [skill]) VALUES (2, N'Driving')
INSERT [dbo].[Skills] ([id], [skill]) VALUES (3, N'Efficiency expert')
SET IDENTITY_INSERT [dbo].[Skills] OFF
ALTER TABLE [dbo].[Cats] ADD  DEFAULT ((0)) FOR [is_featured]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [is_admin]
GO
USE [master]
GO
