<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StaffView</title>
</head>
<body>
    <div> 
        <h1>PET THE KITTY</h1>
        <img src="~/Content/gif/glasses.gif" />
    </div>
</body>
</html>
