@{
    ViewBag.Title = "About";
}


<img src="~/Content/img/About2.png" alt="Banner" width="100%">

<html>
<body>
        <h1>Our Mission:</h1>
    <div>
        <p> Columbus has an overpopulation of homeless cats. Most of them want a job mousing, so they go to shelters, but shelters will only hold them for so long. Not many employers realize there are so many experienced, passionate, and hardworking cats in Columbus. Many cats die in the shelters through nefarious means. This means that cats are literally risking all of their remaining lives so that they can find a job! How many of the currently working class cats can say that. Rather than just preach, here is how we can fix this problem, and save cat lives!</p>
    </div>
</body>
</html>
