@model c_final_capstone_v2.Models.Cat
@using c_final_capstone_v2.Models;
@using c_final_capstone_v2.DAL;
@{
    ViewBag.Title = "Home Page";

    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"images\" + newFileName;

            photo.Save(@"~\" + imagePath);
        }
    }
}

<SCRIPT LANGUAGE="javascript">

    function KeepCount()
    {
        var NewCount = 0

        document.getElementsByName("skills").forEach(function (element) { if (element.checked) { NewCount += 1;}});
        {
        }

        if (NewCount > 3)
        {
            alert('Limit 3 Skills per Applicat')
            document.SubmitCatForm; return false;
        }
    }
</SCRIPT>

<div class="jumbotron catainer">
    <img src="~/Content/img/HeroImage.png" />
    <h1 class="deadCentered">CATS! CATS! CATS!</h1>
</div>

<form action="SubmitCat" method="post">
    @*Image*:<br />

<form action="SubmitCat" method="post">
    @*Image*:<br />
<form name="SubmitCatForm" action="SubmitCat" method="post">
    Image*:<br />
    <input type="file" name="pictureId" accept="image/*" />
    <br />*@
    Name:<br>
    <input type="text" name="name">
    <br>
    Featured:<br />
    <input type="checkbox" name="featured" value="true"> Feature?<br>
    <br />
    Color*:<br>
    <input type="text" name="colors">
    <br>
    Age:<br>
    <input type="text" name="age">
    <br />
    Hair Length*:<br>
    <select name="hairLength">
        <option value="shorthair">Short-Hair</option>
        <option value="longhair">Long-Hair</option>
        <option value="nohair">No Hair</option>
    </select>
    <br />
    Skills*:<br />
    <div>
        <input type="checkbox" name="skills" value="Drooling" onclick="return KeepCount()"> Drooling<br>
        <input type="checkbox" name="skills" value="Driving" onclick="return KeepCount()"> Driving<br>
        <input type="checkbox" name="skills" value="Efficiency Expert" onclick="return KeepCount()"> Efficiency Expert<br>
        @*<input type="checkbox" name="skills" value="Commandeering" onclick="return KeepCount()"> Commandeering<br>*@
        <input type="checkbox" name="skills" value="Pirating" onclick="return KeepCount()"> Pirating<br>
        <input type="checkbox" name="skills" value="Dependency Injection" onclick="return KeepCount()"> Dependency Injection<br>
        <input type="checkbox" name="skills" value="Cuddling" onclick="return KeepCount()"> Cuddling<br>
        <input type="checkbox" name="skills" value="Gravity Testing" onclick="return KeepCount()"> Gravity Testing<br>
        <input type="checkbox" name="skills" value="Filling Boxes" onclick="return KeepCount()"> Filling Boxes<br>
        <input type="checkbox" name="skills" value="Hate" onclick="return KeepCount()"> Hate<br>
    </div>
    <br />
    Prior Experience*:<br />
    <input type="text" name="priorExperience" />
    <br />
    Description*:<br />
    <input type="text" name="description" />
    <br />

    <br><br>
    <input type="submit" value="Submit" onclick="AdjustCheckBoxNames()">
</form>