@model c_final_capstone_v2.Models.Cat
@using c_final_capstone_v2.Models;
@using c_final_capstone_v2.DAL;
@{
    ViewBag.Title = "Home Page";

    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"images\" + newFileName;

            photo.Save(@"~\" + imagePath);
        }
    }
}

<div class="jumbotron">
    <h1>CATS! CATS! CATS!</h1>
</div>

<form action="SubmitCat" method="post">
    @*Image*:<br />
    <input type="file" name="pictureId" accept="image/*" />
    <br />*@
    Name:<br>
    <input type="text" name="name">
    <br>
    Color*:<br>
    <input type="text" name="colors">
    <br>
    Age:<br>
    <input type="text" name="age">
    <br />
    Hair Length*:<br>
    <select name="hairLength">
        <option value="shorthair">Short-Hair</option>
        <option value="longhair">Long-Hair</option>
        <option value="nohair">No Hair</option>
    </select>
    <br />
    Skills*:<br />
    <input type="text" name="skills" />
    <br />
    Prior Experience*:<br />
    <input type="text" name="priorExperience" />
    <br />
    Description*:<br />
    <input type="text" name="description" />
    <br />

    <br><br>
    <input type="submit" value="Submit">
</form>