@model c_final_capstone_v2.Models.Cat
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CATS! CATS! CATS!</h1>
</div>

<form action="/action_page.php">
    Image*:<br />
    <input type="file" name="pic" accept="image/*" />
    <br />
    Name:<br>
    <input type="text" name="name">
    <br>
    Color*:<br>
    <input type="text" name="color">
    <br>
    Age:<br>
    <input type="text" name="age">
    <br />
    Hair Length*:<br>
    <select name="hairLength">
        <option value="shorthair">Short-Hair</option>
        <option value="longhair">Long-Hair</option>
        <option value="nohair">No Hair</option>
    </select>
    <br />
    Prior Experience*:<br />
    <input type="text" name="priorExperience" />
    <br />
    Skills*:<br/>
    <input type="text" name="skills" />
    <br />
    <br><br>
    <input type="submit" value="Submit">
</form> 