@*@model IEnumerable<c_final_capstone_v2.Models.Cat>*@
@model IEnumerable<c_final_capstone_v2.Models.Search>
@{
    ViewBag.title = "Search";
}

<div class="jumbotron">
    <h1>Find Your Perfect Employee</h1>
</div>

<p>
    @Html.DropDownListFor(model.)
</p>
