
@{
    ViewBag.Title = "CareTips";
}


<html>
<body>

    @* TODO Add tips*@
    <img class="img-responsive" src="~/Content/img/CareTips3.png" alt="CareTips">
    <div style="text-align:center">
        <h2>Care Tips</h2>
        <p>How To Care for Your New Employee</p>
    </div>
    <div>
        <br />
        <br />
    </div>

    <div class="row">
        <img class="img-circle img-responsive" src="~/Content/gif/glasses.gif" ali="Studying Cat">
        <h2>Training</h2>
        <h4>There are certain expectation for employers in regards to training</h4>
        <ol>Rewards are important! find a treat, maybe sardines, to reward favorable actions.</ol>
        <ol>Make the activity fun for the cat, and keep the training moving at the pas a cat is confortable with.</ol>
        <ol>Redirect bad behavior into good behavior. If a cat is attacking your legs, toss a favorite toy to the cat, or keep scratch pads need furniture.</ol>
    </div>

    <div class="row">
        <img class="img-circle-right img-responsive" src="~/Content/gif/dizzy.gif" ali="Dizzy Cat">
        <h2>Exercise</h2>
        <h4>Cats have a lot of energy!</h4>
        <ol>Cats enjoy company if only to have an outlet for their tendancy to torture, set playdates with other cat owners if you only have one cat....for now.</ol>
        <ol>Agility Courses give these natural physicists an outlet to build their ninja skills.</ol>
        <ol>Cats cannot resist a laser show. User a Laser pointer to have the cat use those carnivor instincts.</ol>
    </div>
    <div class="row">
        <img class="img-circle img-responsive" src="~/Content/gif/ToothBrush.gif" ali="Toothbrush?">
        <h3>Play</h3>
        <ol>Invite mice into the house so the cat can have friends.</ol>
        <ol>Install bird feeder into the backyard.</ol>
        <ol>Do what the cat says.</ol>
    </div>
</body>
</html>

