
@{
    ViewBag.Title = "CareTips";
}


<html>
<body>


    <img class="hero-image" src="~/Content/img/CareTips3.png" alt="CareTips">
    <div class="hero-text">
        <h2>Care Tips</h2>
        <p>How To Care for Your New Employee</p>
    </div>
    <div>
        <br />
        <br />
    </div>

    <div class="row">
        <img class="img-circle" src="~/Content/gif/glasses.gif" ali="Studying Cat">
        <h2>Training</h2>
        <h4>There are certain expectation for employers in regards to training</h4>
        <ol>point 2</ol>
        <ol>point 3</ol>
        <ol>point 4</ol>
    </div>

    <div class="row">
        <img class="img-circle-right" src="~/Content/gif/dizzy.gif" ali="Dizzy Cat">
        <h2>Exercise</h2>
        <h4>Cats have a lot of energy!</h4>
        <ol>point 1</ol>
        <ol>point 2</ol>
        <ol>point 3</ol>
    </div>
    <div class="row">
        <img class="img-circle" src="~/Content/gif/nyanCat.gif" ali="NYAN Cat">
        <h3>Play</h3>
        <ol>point 1</ol>
        <ol>point 2</ol>
        <ol>point 3</ol>
    </div>
</body>
</html>

