
@{
    ViewBag.Title = "CareTips";
}


<html>
<body>


    <img class="hero-image" src="~/Content/img/CareTips3.png" alt="CareTips">
    <div class="hero-text">
        <h2>Care Tips</h2>
        <p>How To Care for Your New Employee</p>
    </div>
    <div>
        <br />
        <br />
    </div>

    <div class="row">
        <img class="img-circle" src="~/Content/gif/glasses.gif" ali="Studying Cat">
        <h3>Be prepared to train</h3>
        <ol>point 1</ol>
        <ol>point 2</ol>
        <ol>point 3</ol>
    </div>

    <div class="row">
        <img class="img-circle-right" src="~/Content/gif/dizzy.gif" ali="Dizzy Cat">
        <h3>Be prepared to entertain</h3>
        <ol>point 1</ol>
        <ol>point 2</ol>
        <ol>point 3</ol>
    </div>
    <div class="row">
        <img class="img-circle" src="~/Content/gif/nyan.gif" ali="Dizzy Cat">
        <h3>Be prepared to PLAY</h3>
        <ol>point 1</ol>
        <ol>point 2</ol>
        <ol>point 3</ol>
    </div>
</body>
</html>
@*width="500" height="333"*@

