
@{
    ViewBag.Title = "CareTips";
}


<html>
<body>


    <img class="hero-image" src="~/Content/img/CareTips3.png" alt="CareTips">
    <div class="hero-text">
        <h2>Care Tips</h2>
        <p>How To Care for Your New Employee</p>
    </div>


    <ol>Feed Often</ol>
    <ol>Water Available or Leaky Faucet</ol>
    <ol>Boxes from Expensive Toys</ol>
    <ol>Bath at Own Risk</ol>

</body>
</html>
@*width="500" height="333"*@

