
@model IEnumerable<c_final_capstone_v2.Models.Cat>

@{
    ViewBag.Title = "CatList";
}
<div class="jumbotron">

    <h2>CatList</h2>
</div>


<p>
    @if (Session["isAdmin"] != null && (bool)Session["isAdmin"])
    {
        @Html.ActionLink("Add Cat", "AddCat", "Home")
    }
    
    @using (Html.BeginForm("CatList", "Home", FormMethod.Get))
    {
        <select name="sort">
            <option value="">Sort By...</option>
            <option value="NameAZ">Name A-Z</option>
            <option value="NameZA">Name Z-A</option>
            <option value="AgeYoungOld">Age: Yougest - Oldest</option>
            <option value="AgeOldYoung">Age: Oldest - Youngest</option>
            <option value="Color">Colors</option>
        </select>
        <input type="submit" value="Submit" />
    }
</p>
<div class="grid-container">

        @foreach (var item in Model)
        {
            <div class="grid-item">
                <a href="ViewCat/@item.ID"><img class="listImg2" src="~/Images/@item.PictureId" /></a>
                <br />
                    Name: @Html.DisplayFor(modelItem => item.Name)
                <br />
                    Age: @Html.DisplayFor(modelItem => item.Age)
                <br />
                    
                @Html.ActionLink("Details", "ViewCat", new { id = item.ID })
                    
                    
            </div>
        }
</div>

