@{
    ViewBag.Title = "Contact";
}
<html>
<body>

    <img src="~/Content/img/Contact2.jpg" alt="NO">
    <div class="hero-text">
        <h1>NO</h1>
    </div>
    <br />

    <br><br>
</body>
</html>
@*width="500" height="333"*@