@{
    ViewBag.Title = "Index";
}

<html>
<body>
    <div>
        <img class="hero-image" src="~/Content/img/HeroImage.png" />
        <div class="hero-text">
            <h1>Day 4</h1>
            <p>The cats have accepted me as one of their own...</p>
            <button>Hey, a button</button>
        </div>
    </div>
</body>
</html>