@model IEnumerable<c_final_capstone_v2.Models.Cat>

@{
    ViewBag.Title = "TempImage";
}
<div class="jumbotron">

<h2>SearchTemp</h2>
</div>
<p>
    <select name="Age">
        <option value="Age" >Kitten</option>
        <option value="Age">Adult</option>
        <option value="Age">Elder</option>
    </select>
    <select name="Color">
        <option value="Color">Input</option>
    </select>
    <input type="submit" value="Submit" />
</p>
