@{
    ViewBag.Title = "Us";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Meet Our Team:</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Austin!
            </td>
        </tr>
        <tr>
            <td>
                Dan!
            </td>
        </tr>
        <tr>
            <td>
                Dinah!
            </td>
        </tr>
        <tr>
            <td>
                Peter!
            </td>
        </tr>
    </table>
</body>
</html>
