@{
    ViewBag.Title = "Us";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Meet Our Team:</title>
</head>
<body>
    <table>
        <tr class="table-right">
            <td>
            <img class="us-gif" src="~/Content/gif/Austin1.gif" />
            </td>
            <td>
                Austin!
            </td>
        </tr>
        <tr>
            <td>
                <img class="us-gif" src="~/Content/gif/Dan.gif" />
            </td>
            <td>
                Dan!
            </td>
        </tr>
        <tr>
            <td>
                <img class="us-gif" src="~/Content/gif/Me.gif" />
            </td>
            <td>Dinah!</td>
                
        </tr>
        <tr>
            <td>
                <img class="us-gif" src="~/Content/gif/Peter.gif" />
            </td>
            <td>
                Peter!
            </td>
        </tr>
    </table>
</body>
</html>
